
@import "_base/var";
@import "_base/powertip";
@import "_base/jquery.datetimepicker";

@import "_page/common";
@import "_page/nav";
@import "_page/login";
@import "_page/get";
@import "_page/report";

body {
  margin: 0 auto;
  padding-left: $nav_size;
  font-size: 13px;
  line-height: 1.4em;
  color: $font_color_main;
  -webkit-font-smoothing: antialiased;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #333333;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  &.active {
    background: $bg_color;
  }
}

a {
  color: $link_color;
}
ul, li {
  margin: 0;
  padding: 0;
}
input, textarea, pre {
  margin: 0;
  padding: $pd_01;
}
input, textarea {
  border: 1px solid $border_color;
  background: $bg_color_light;
  border-radius: 5px;
  &:focus {
    border: 1px solid $link_color;
    outline: none;
  }
}
button {
  &:focus {
    outline: none;
  }
}



