<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>JIRA Tools</title>

</head>
<body>

  <div layout="column" layout-fill class="subheaderdemoBasicUsage" id="view-plan">
    <md-content>
      <section class="contents-view">
        <md-subheader>

          <form class="change_data_form" ng-submit="updateView()">
            <label class="input_checkbox"><input type="checkbox" ng-model="checkboxModel[0]" ng-true-value="'b-tomomi.b.shimada'" ng-false-value="">b-tomomi.b.shimada</label>
            <label class="input_checkbox"><input type="checkbox" ng-model="checkboxModel[1]" data-func="select-user" ng-true-value="'b-tatsuhiro.a.abe'" ng-false-value="">b-tatsuhiro.a.abe</label>
            <label class="input_checkbox"><input type="checkbox" ng-model="checkboxModel[2]" data-func="select-user" ng-true-value="'b-hitomi.a.parsi'" ng-false-value="">b-hitomi.a.parsi</label>
            <button type="submit">更新</button>
          </form>
        </md-subheader>
        <div class="contents-load"></div>
        <div class="contents-error">
          errorです。
        </div>
        <div class="plan-items">
          <div planitem class="item_block" ng-repeat="(key, value) in data track by $index"></div>
        </div>
      </section>
    </md-content>
  </div>
</body>
</html>
