<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<title>JIRA Tools</title>
</head>
<body>
  <div class="contents-load"></div>
  <div class="contents-error">
    errorです。
  </div>


  <section id="view-report" class="contents-view">
    <nav>
      <div class="wrapper_button">
        <button id="copy_button" ng-click="copyClipboard($event)">
          <div class="button-content">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span>クリップボードにコピー</span>
          </div>
        </button>
      </div>
    </nav>
    <div id="contents-report">
      お疲れ様です。{{name}}です。<br>
      本日の業務について報告いたします。

      <h2>[Impression]</h2>
      <div>
        <!-- <textarea placeholder="所感を記述"></textarea> -->
        -- 所感を記述 --
      </div>


      <h2>[Today's overtime] (from 17:30:00)</h2>
      <div>
        <div>00:00:00</div>
      </div>

      <h2>[Overtime in this month] ({{year}}/{{month}})</h2>
        <div>0:00:00 / 30:00:00</div>

      <h2>[Possible overtime in this month] ({{year}}/{{month}})</h2>
      <div>30:00:00</div>

      <h2>[Average of possible overtime per day]</h2>
      <div ng-bind="averagePosiOvertime"></div>

      <h2>[Workday in this month]</h2>
      <div ng-bind="workday"></div>

      <h2>[Today's Actual]</h2>

      <table class="data_table">
        <thead>
          <tr>
            <th>日付</th>
            <th>案件</th>
            <th>作業内容</th>
            <th>予定時間</th>
            <th>実績時間</th>
          </tr>
        </thead>
        <tr ng-repeat="(key, value) in todayData track by $index">
          <td class="ta-c">{{today}}</td>
          <td ng-if="value.issue.summary"><a data-href="https://jira.rakuten-it.com/jira/browse/{{value.issue.key}}" ng-click="openLink($event)">{{value.issue.summary}}</a>
          </td>
          <td ng-if="value.planItem.summary"><a data-href="https://jira.rakuten-it.com/jira/browse/{{value.planItem.key}}" ng-click="openLink($event)">{{value.planItem.summary}}</a></td>
          <td>{{value.comment}}</td>
          <td class="ta-c"><span ng-if="value.seconds">{{value.seconds}}</span></td>
          <td class="ta-c"><span ng-if="value.timeSpentSeconds">{{value.timeSpentSeconds/3600}}</span></td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>sum</th>
          <td class="ta-c">{{sumPlan}}</td>
          <td class="ta-c">{{sum}}</td>
        </tr>
      </table>

      <h2>[Tomorrow's Plan]</h2>

      <table class="data_table">
        <thead>
          <tr>
            <th>日付</th>
            <th>案件</th>
            <th>作業内容</th>
            <th>予定時間</th>
            <th>実績時間</th>
          </tr>
        </thead>
        <tr ng-repeat="item in tomorrowData track by $index"">
          <td class="ta-c">{{tomorrow}}</td>
          <td><a data-href="https://jira.rakuten-it.com/jira/browse/{{item.planItem.key}}" ng-click="openLink($event)">{{item.planItem.summary}}</a></td>
          <td></td>
          <td class="ta-c">{{item.seconds/3600/item.days}}</td>
          <td class="ta-c">-</td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>sum</th>
          <td class="ta-c">{{sumPlanTomorrow}}</td>
          <td class="ta-c">-</td>
        </tr>
      </table>

      <h2>[Tomorrow’s Overtime work]</h2>
      <div>
        <div>{{tOver}}</div>
      </div>

      <h2>[TOEIC]</h2>
      <div></div>

      <h2>[Holiday]</h2>
      <div>
          {{holiday}}
      </div>

      <h2 for="01">[Etc]</h2>
      <div>{{etc}}</div>

      <p>以上、よろしくお願いいたします。</p>

    </div>
  </section>

</body>
</html>
