@import "../_base/var";


ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  cursor: pointer;
}

.block {
  display: block;
}


.contents_wrap {
  height: 100%;
  width: $contents_size;
}

.contents-load {
  width: 200px;
  height: 50px;
  margin: 150px auto;
  background-image: url(../img/load_l.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &.disabled {
    display: none;
  }
}
.contents-error {
  display: none;
  &.active {
    display: block;
  }
  margin: 100px;
  padding: 50px;
  border-top: 7px solid $border-color;
  border-bottom: 7px solid $border-color;
  text-align: center;
  font-size: $font_size_medium;
}

.contents-nodata {
  display: none;
  &.active {
    display: block;
  }
}

.contents-view {
  display: none;
  &.active {
    display: block;
  }
  .item_block {
    margin: $mg_inner;
  }
}


.contents-title {
  margin-left: $mg_inner;
}

// ------------------------------
// table
// ------------------------------

.data_table {
  width: 100%;
  border-top: 1px solid $border_color;
  border-left: 1px solid $border_color;
  th, td {
    width: 5%;
    padding: $pd_01;
    border-right: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    vertical-align: middle;
  }
  th {
    background: $bg_color_table;
    font-size: $font_size_small;
    white-space: nowrap;
    color: $font_color_sharp;
  }
  td {
    background: $bg_color_light;
    font-size: $font_size_small_plus;
  }
}


form {
  button {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: $button_color;
    border-radius: $radius;
  }
}




.change_data_form {
  margin: $mg_01*2 $mg_01;
}
.input_checkbox {
  display: inline-block;
  margin-right: $mg_01*3;
  input {
    display: inline-block;
    margin-right: $mg_01;
  }
}





//overray//

.md-button {
  min-width: inherit;
}
md-content.md-default-theme, md-content {
  color: inherit;
}

