
@import "../_base/var";


#view_get {
  #table-head {
    border-top: none;
    position: fixed;
    top: 0;
    left: $nav_size;
    right: 0;
    width: 800px;
    z-index: 9999;
  }
  #input {
    padding-top: 40px;
  }
}

#input {
  form {
    // margin-top: 10px;
  }
  table {
    border-top: none;
    border-left: none;
    th, td {
      border-right: 0;
      &:last-child {
        // border-right: 1px solid #ccc;
      }
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      input {
        width: 100%;
      }
    }
  }
  .btn-submit {
    display: block;
    width: 60px;
    height: 30px;
    background-color: $button_color;
    border-radius: 10px;
    &.status-submit {
      background-image: url(../img/load.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      .text {
        display: none;
      }
    }
  }
}
