
@import "../_base/var";


#login_page {
  padding-left: 0;
  background: $bg_color;
   nav {
    display: none;
  }
}

#login_wrap {
  width: 250px;
  margin: $mg_01*10 auto 0;
  h1 {
    margin-bottom: $mg_01*2;
    text-align: center;
  }
}

#login {
  width: 250px;
  margin: 0 auto;
  padding: $pd_01*3;
  background: $bg_color_light;
  .form-item {
    display: block;
    margin-top: $mg_01;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: $mg_01*2;
    }
    input {
      width: 100%;
    }
    button {
      display: block;
      width: 100%;
      height: auto;
      padding: $pd_01;
      background: $button_color;
    }
  }
  .error {
    display: none;
    margin-top: $mg_01;
    text-align: center;
    color: $font_color_error;
  }
}
