@import "../_base/var";

// $active_color: #54c0eb;

$active_color: rgb(250,250,250);

#app_simbol {
  width: $toolbar_size - 10px;
  height: $toolbar_size - 10px;
  // margin: 20px auto;
  background: url(../img/app-symbol.svg);
  background-size: 100% 100%;
}


#global_nav {
  position: fixed;
  left: 0;
  top: 50px;
  width: $nav_size;
  height: 100%;
  background: $bg_color;
  .menu {
    & + dl {
      margin-top: $mg_01*5;
    }
    dt {
      margin-bottom: $mg_01;
      border-bottom: 1px solid $border_color;
      text-align: center;
      font-size: $font_size_small_plus;
      font-weight: bold;
      .md-button {
        font-size: $font_size_small_plus
      }
    }
    li {
      list-style: none;
      a {
        display: block;
        padding: 20px 10px 20px 10px;
        margin-left: $mg_01;
        color: $font_color_main;
        font-size: $font_size_small_plus;
        text-decoration: none;
        &.active {
          background: $active_color;
          border-radius: $radius 0 0 $radius
        }
      }
    }
    &--link {
      @extend .menu;
      position: absolute;
      bottom: 100px;
      width: 100%;
    }
  }
}

md-toolbar.md-menu-toolbar {

  background: $color_main;
  color: #ffffff;
  .message {
    margin-left: $mg_01;
  }
  h2 {
    font-size: $font_size_medium;
    font-weight: bold;
  }
}


.md-sidenav-left {
  top: $toolbar_size;
  z-index: 9999;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white;
}


md-backdrop.md-sidenav-backdrop {
  z-index: 9998;
}


#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar_size;
  z-index: 10000;
}
md-toolbar,
.md-toolbar-tools {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  font-size: $font_size_small_plus;
}
