
@import "../_base/var";

#view-plan {
  position: relative;
  canvas {
    width: 500px;
    height: 300px;
  }

  .detail_list {
    width: 100%;
    padding-left: 35px;
    display: box;
    display: -webkit-box;
    li {
      width: 19.2%;
      padding: 0 $pd_01;
      font-size: $font_size_xsmall;
      box-sizing: border-box;
    }
    .sum {
      text-align: center;
    }

    dl {
      display: table;
      width: 100%;
      dt {
        display: table-cell;
        a {
          display: block;
          width: 118px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      dd {
        display: table-cell;
        width: 1.5em;
        text-align: right;
      }
    }
  }
}

