
@import "../_base/var";

#view-report {
  position: relative;
  h2 {
    display: block;
    margin: $mg_01 0;
    font-size: $font_size_normal;
    font-weight: bold;
  }
  table {
    thead {
      th, td {
        padding: $pd_01;
        font-size: $font_size_xsmall;
      }
    }
    th, td {
      word-break: break-all;
      &:nth-child(1) {
        width: 7%;
      }
      &:nth-child(2) {
        width: 43%;
      }
      &:nth-child(3) {
        width: 30%;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 10%;
      }
    }
  }
  #copy_button {
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: $pd_01 $pd_01*2;
    color: $font_color_light;
    border-radius: $radius;
    background-color: $link_color;
    font-size: $font_size_medium;
    cursor: pointer;
    span {
      font-weight: bold;
    }
  }

  #contents-report {
    padding: $mg_inner;
  }


}




#view-report--weekly {
  h2 {
    display: block;
    margin-bottom: $mg_01;
    font-size: $font_size_normal;
    font-weight: bold;
  }
  table {
    th, td {
      word-break: break-all;
      &:nth-child(1) {
        width: 70%;
      }
      &:nth-child(2) {
        width: 30%;
        text-align: right;
      }
    }
  }
}
