
@import "../_base/var";

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

#view_plan {
  position: relative;
  padding: 20px 0 60px;
  background: $bg_color_light;
  h2 {
    display: block;
    margin: 10px 0 5px;
    font-size: 13px;
    font-weight: bold;
  }
  canvas {
    width: 500px;
    height: 300px;
  }

  .detail_list {
    width: 100%;
    padding-left: 35px;
    display: box;
    display: -webkit-box;
    li {
      width: 143px;
      padding: 0 $pd_01;
      font-size: $font_size_xsmall;
      box-sizing: border-box;
    }
    .sum {
      text-align: center;
    }

    dl {
      display: table;
      width: 100%;
      dt {
        display: table-cell;
        a {
          display: block;
          width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      dd {
        display: table-cell;
        width: 1.5em;
        text-align: right;
      }
    }
  }
}

.plan-all {
  canvas {
    width: 200px;
    height: 100px;
  }
}

